/db/

# ignore everything in the root except the "wp-content" directory.
!src/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
/src/wp-content/*
!/src/wp-content/themes/


# ignore node dependency directories
/src/node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
